<!DOCTYPE html>
<html lang="en">
  <head>
  <%- include('./partials/head.ejs')%>
  </head>
<body>
  <div class="container">
  <%- include('./partials/header.ejs')%>
  <br>
  <ul>
  <li><a href="/watertribe">Water Tribe</a></li>
  <li><a href="/firenation">Fire Nation</a></li>
  <li><a href="/earthkingdom">Earth Kingdom</a></li>
  <li><a href="/airnomads">Air Nomads</a></li>
  </ul>
  <%- include('./partials/footer.ejs')%>
  </div>
</body>
</html>