body {
  background-color: #cccccc;
  color: #555555;
}

a:link {
  text-decoration: none;
  color: #8e8d8d;
}

a:visited {
  text-decoration: none;
  color: #8e8d8d;
}

a:hover {
  text-decoration: none;
  color: #ffe67e;
}

a:active {
  text-decoration: none;
  color: #8e8d8d;
}