body {
  background-color: #ecb100;
  color: #a10000;
}

a:link {
  text-decoration: none;
  color: #630000;
}

a:visited {
  text-decoration: none;
  color: #630000;
}

a:hover {
  text-decoration: none;
  color: #b70000;
}

a:active {
  text-decoration: none;
  color: #630000;
}